.space-buttons {
    flex: 1 1 auto;
}

.spacer {
    flex: 1 1 auto;
}

.example-container {
    height: 100vh;
}

.example-sidenav {
    width: 250px;
}

.logo {
    width: 8%;
    cursor: pointer;
}

.mat-flat-button {
    border-radius: 50px;
    padding: 0.25rem 4rem;
    background: white;
    color: black;
    font-weight: 500;
    font-family: 'Sansation', sans-serif
}