.footer-container {
    display: flex;
    justify-content: space-between;
    background: #d9d9d9;
    padding: 1.5rem;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
}

.icons i {
    font-size: 35px;
}