<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-6">
                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nome completo</mat-label>
                        <input matInput placeholder="Nome completo" [(ngModel)]="orderDetails.fullName" name="fullName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Endereço</mat-label>
                        <input matInput placeholder="Endereço" [(ngModel)]="orderDetails.fullAddress"
                            name="fullAddress">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Telefone</mat-label>
                        <input matInput placeholder="Telefone" [(ngModel)]="orderDetails.contactNumber"
                            name="contactNumber">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Telefone alternativo</mat-label>
                        <input matInput placeholder="Telefone alternativo"
                            [(ngModel)]="orderDetails.alternateContactNumber" name="alternateContactNumber">
                    </mat-form-field>

                    <div align="right">
                        <button type="submit" class="details-btn-small">fazer pedido</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr *ngFor="let product of productDetails">
                            <td>{{product.productName}}</td>
                            <td>{{product.productDiscountedPrice}}</td>
                            <td>
                                <select 
                                #quantity
                                class="form-select"
                                [ngModel]="getQuantityForProduct(product.productId)"
                                (change)="onQuantityChanged(quantity.value, product.productId)"
                                >
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td>
                                {{getCalculatedTotal(product.productId ,product.productDiscountedPrice)}}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>{{getCalculatedGrandTotal()}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>