<div class="container mt-5" style="width: 50%;">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Usuário</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
                <mat-hint>Usuário</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Senha</mat-label>
                <input type="password" matInput ngModel name="userPassword" id="userPassword" placeholder="Password">
                <mat-hint>Senha</mat-hint>
            </mat-form-field>

            <button class="w-100" type="submit" class="details-btn">Enviar</button>
        </form>
    </div>
    <div class="text-center">
        <br>
            <button class="details-btn" style="width: 30%;" type="button" (click)="registerUser()">Quero me cadastrar</button>        
    </div>
</div>