<div class="container mt-5" style="width: 50%;">
    <div class="card" style="padding: 20px;">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Usuário</mat-label>
                <input matInput ngModel name="userName" id="userName" placeholder="Username">
                <mat-hint>Usuário</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Primeiro Nome</mat-label>
                <input matInput ngModel name="userFirstName" id="userFirstName" placeholder="FirstName">
                <mat-hint>Primeiro Nome</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sobrenome</mat-label>
                <input matInput ngModel name="userLastName" id="userLastName" placeholder="LastName">
                <mat-hint>Sobrenome</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput ngModel name="userPassword" type="password" id="userPassword" placeholder="Password">
                <mat-hint>Senha</mat-hint>
            </mat-form-field>

            <div class="text-center">
                <button class="w-100" type="submit" class="details-btn">Enviar</button>
            </div>
        </form>
    </div>
</div>